.outlineNone {
	outline: none !important;
}

.muiBtnBlue {
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	transition: all 500ms ease;
	-o-transition: all 0.2s linear;
	outline: none !important;
	border: none !important;
	border-radius: 7px !important;
	box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.25) !important;
	background: #fff;
}

.muiBtnBlue:hover {
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	transition: all 500ms ease;
	color: #fefefe;
	background: linear-gradient(110deg, #2400ff, #cf2da2);
}

.tabsRow {
	max-width: calc(100vw - 240px);
}

@media (max-width: 600px) {
	.tabsRow {
		max-width: 100vw;
	}

	.listContainer {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}
